# Analysis

Here, I attempt to obtain the datasets that were posed in the assignment

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("data/wp_scored_city_articles_by_state.csv")

In [18]:
df

,regional_division,state,population,article_title,revision_id,article_quality
0,New England,Maine,1385340.0,"Abbot, Maine",1171169435,Start
1,New England,Maine,1385340.0,"Acton, Maine",1175249481,C
2,New England,Maine,1385340.0,"Addison, Maine",1168360008,C
3,New England,Maine,1385340.0,"Albion, Maine",1165909611,C
4,New England,Maine,1385340.0,"Alexander, Maine",1170293819,Start
...,...,...,...,...,...,...
21510,Pacific,Washington,7785786.0,"Wilkeson, Washington",1176401350,GA
21511,Pacific,Washington,7785786.0,"Wilson Creek, Washington",1134835942,GA
21512,Pacific,Washington,7785786.0,"Winthrop, Washington",1177587687,C
21513,Pacific,Washington,7785786.0,"Yacolt, Washington",1175857682,C
21514,Pacific,Washington,7785786.0,"Yarrow Point, Washington",1173231308,C

Creating all the tables for results

In [25]:
# Filter high-quality articles
high-quality-articles = df[df['article_quality'].isin(['FA', 'GA'])]

# Calculate the total and high-quality articles per state
total_articles_per_state = df.groupby(['regional_division', 'state'])['article_title'].count().reset_index()
high-quality-articles_per_state = high-quality-articles.groupby(['regional_division', 'state'])['article_title'].count().reset_index()

# Merge population data
result = pd.merge(total_articles_per_state, high-quality-articles_per_state, on=['regional_division', 'state'], suffixes=('_total', '_high_quality'))
result = pd.merge(result, df[['regional_division', 'state', 'population']], on=['regional_division', 'state'])

# Calculate the per capita ratios
result['total-articles-per-population'] = result['article_title_total'] / result['population']
result['high-quality-articles-per-population'] = result['article_title_high_quality'] / result['population']

# Rename columns
result.rename(columns={'article_title_total': 'total_articles', 'article_title_high_quality': 'high-quality-articles'}, inplace=True)

# Reorder columns
result = result[['state', 'regional_division', 'population', 'total-articles-per-population', 'high-quality-articles-per-population', 'total_articles', 'high-quality-articles']]

result = result.drop_duplicates().reset_index(drop = True)

In [27]:
result.sort_values('state')

,state,regional_division,population,total-articles-per-population,high-quality-articles-per-population,total_articles,high-quality-articles
5,Alabama,East South Central,5074296.0,0.000091,0.000010,461,53
25,Alaska,Pacific,733583.0,0.000203,0.000042,149,31
12,Arizona,Mountain,7359197.0,0.000012,0.000003,91,24
44,Arkansas,West South Central,3045637.0,0.000164,0.000024,500,72
26,California,Pacific,39029342.0,0.000012,0.000004,482,173
13,Colorado,Mountain,5839926.0,0.000049,0.000013,288,76
30,Delaware,South Atlantic,1018396.0,0.000056,0.000025,57,25
31,Florida,South Atlantic,22244823.0,0.000018,0.000005,411,118
32,Georgia,South Atlantic,10912876.0,0.000049,0.000009,538,93
27,Hawaii,Pacific,1440196.0,0.000105,0.000021,151,30
14,Idaho,Mountain,1939033.0,0.000104,0.000021,201,41
0,Illinois,East North Central,12582032.0,0.000103,0.000016,1298,196
1,Indiana,East North Central,6833037.0,0.000083,0.000018,565,124
38,Iowa,West North Central,3200517.0,0.000326,0.000032,1042,103
39,Kansas,West North Central,2937150.0,0.000021,0.000007,63,22
6,Kentucky,East South Central,4512310.0,0.000093,0.000018,421,79
45,Louisiana,West South Central,4590241.0,0.000066,0.000010,304,44
20,Maine,New England,1385340.0,0.000349,0.000031,483,43
33,Maryland,South Atlantic,6164660.0,0.000025,0.000007,157,42
21,Massachusetts,New England,6981974.0,0.000050,0.000009,352,62
2,Michigan,East North Central,10034113.0,0.000177,0.000013,1773,133
40,Minnesota,West North Central,5717184.0,0.000149,0.000030,854,169
7,Mississippi,East South Central,2940057.0,0.000102,0.000013,300,39
41,Missouri,West North Central,6177957.0,0.000154,0.000043,951,263
15,Montana,Mountain,1122867.0,0.000114,0.000049,128,55
16,Nevada,Mountain,3177772.0,0.000006,0.000003,19,8
22,New Hampshire,New England,1395231.0,0.000168,0.000045,234,63
9,New Jersey,Middle Atlantic,9261699.0,0.000061,0.000041,564,379
17,New Mexico,Mountain,2113344.0,0.000050,0.000015,106,31
10,New York,Middle Atlantic,19677151.0,0.000034,0.000006,660,111
34,North Carolina,South Atlantic,10698973.0,0.000005,0.000002,50,20
42,North Dakota,West North Central,779261.0,0.000457,0.000033,356,26
3,Ohio,East North Central,11756058.0,0.000079,0.000017,926,204
46,Oklahoma,West South Central,4019800.0,0.000019,0.000008,75,31
28,Oregon,Pacific,4240137.0,0.000057,0.000033,241,141
11,Pennsylvania,Middle Atlantic,12972008.0,0.000197,0.000044,2556,566
23,Rhode Island,New England,1093734.0,0.000036,0.000011,39,12
35,South Carolina,South Atlantic,5282634.0,0.000051,0.000019,271,103
43,South Dakota,West North Central,909824.0,0.000342,0.000062,311,56
8,Tennessee,East South Central,7051339.0,0.000049,0.000021,346,145
47,Texas,West South Central,30029572.0,0.000041,0.000016,1221,487
18,Utah,Mountain,3380800.0,0.000075,0.000018,255,61
24,Vermont,New England,647064.0,0.000508,0.000070,329,45
36,Virginia,South Atlantic,8683619.0,0.000015,0.000002,133,18
29,Washington,Pacific,7785786.0,0.000036,0.000015,281,115
37,West Virginia,South Atlantic,1775156.0,0.000131,0.000060,232,106
4,Wisconsin,East North Central,5892539.0,0.000032,0.000010,191,59
19,Wyoming,Mountain,581381.0,0.000170,0.000067,99,39

In [33]:
#result['total_articles'].sum()

In [34]:
result.columns

Index(['state', 'regional_division', 'population',
       'total-articles-per-population', 'high-quality-articles-per-population',
       'total_articles', 'high-quality-articles'],
      dtype='object')

### Results

1. Top 10 US states by coverage: The 10 US states with the highest total articles per capita (in descending order) .

In [46]:
df1 = result.sort_values(by='total-articles-per-population', ascending=False).head(10)
df1.drop(['high-quality-articles','high-quality-articles-per-population'],inplace=True,axis=1)
df1.reset_index(drop=True)

,state,regional_division,population,total-articles-per-population,total_articles
0,Vermont,New England,647064.0,0.000508,329
1,North Dakota,West North Central,779261.0,0.000457,356
2,Maine,New England,1385340.0,0.000349,483
3,South Dakota,West North Central,909824.0,0.000342,311
4,Iowa,West North Central,3200517.0,0.000326,1042
5,Alaska,Pacific,733583.0,0.000203,149
6,Pennsylvania,Middle Atlantic,12972008.0,0.000197,2556
7,Michigan,East North Central,10034113.0,0.000177,1773
8,Wyoming,Mountain,581381.0,0.000170,99
9,New Hampshire,New England,1395231.0,0.000168,234

2. Bottom 10 US states by coverage: The 10 US states with the lowest total articles per capita (in ascending order) .

In [48]:
df2 = result.sort_values(by='total-articles-per-population').head(10)
df2.drop(['high-quality-articles','high-quality-articles-per-population'],inplace=True,axis=1)
df2.reset_index(drop=True)

,state,regional_division,population,total-articles-per-population,total_articles
0,North Carolina,South Atlantic,10698973.0,0.000005,50
1,Nevada,Mountain,3177772.0,0.000006,19
2,California,Pacific,39029342.0,0.000012,482
3,Arizona,Mountain,7359197.0,0.000012,91
4,Virginia,South Atlantic,8683619.0,0.000015,133
5,Florida,South Atlantic,22244823.0,0.000018,411
6,Oklahoma,West South Central,4019800.0,0.000019,75
7,Kansas,West North Central,2937150.0,0.000021,63
8,Maryland,South Atlantic,6164660.0,0.000025,157
9,Wisconsin,East North Central,5892539.0,0.000032,191

3. Top 10 US states by high quality: The 10 US states with the highest high quality articles per capita (in descending order) .

In [47]:
df3 = result.sort_values(by='high-quality-articles-per-population', ascending=False).head(10)
df3.drop(['total_articles','total-articles-per-population'],inplace=True,axis=1)
df3.reset_index(drop=True)

,state,regional_division,population,high-quality-articles-per-population,high-quality-articles
0,Vermont,New England,647064.0,0.000070,45
1,Wyoming,Mountain,581381.0,0.000067,39
2,South Dakota,West North Central,909824.0,0.000062,56
3,West Virginia,South Atlantic,1775156.0,0.000060,106
4,Montana,Mountain,1122867.0,0.000049,55
5,New Hampshire,New England,1395231.0,0.000045,63
6,Pennsylvania,Middle Atlantic,12972008.0,0.000044,566
7,Missouri,West North Central,6177957.0,0.000043,263
8,Alaska,Pacific,733583.0,0.000042,31
9,New Jersey,Middle Atlantic,9261699.0,0.000041,379

4. Bottom 10 US states by high quality: The 10 US states with the lowest high quality articles per capita (in ascending order).

In [38]:
df4 = result.sort_values(by='high-quality-articles-per-population').head(10)
df4.drop(['total_articles','total-articles-per-population'],inplace=True,axis=1)
df4.reset_index(drop=True)

,state,regional_division,population,high-quality-articles-per-population,high-quality-articles
0,North Carolina,South Atlantic,10698973.0,0.000002,20
1,Virginia,South Atlantic,8683619.0,0.000002,18
2,Nevada,Mountain,3177772.0,0.000003,8
3,Arizona,Mountain,7359197.0,0.000003,24
4,California,Pacific,39029342.0,0.000004,173
5,Florida,South Atlantic,22244823.0,0.000005,118
6,New York,Middle Atlantic,19677151.0,0.000006,111
7,Maryland,South Atlantic,6164660.0,0.000007,42
8,Kansas,West North Central,2937150.0,0.000007,22
9,Oklahoma,West South Central,4019800.0,0.000008,31

5. Census divisions by total coverage: A rank ordered list of US census divisions (in descending order) by total articles per capita.

In [60]:
df5 = result.groupby('regional_division').agg({'total-articles-per-population': 'mean'}).reset_index()
df5 = df5.sort_values(by='total-articles-per-population', ascending=False)
df5.reset_index(drop=True)

    regional_division  total-articles-per-population
0  West North Central                       0.000241
1         New England                       0.000222
2     Middle Atlantic                       0.000097
3  East North Central                       0.000095
4  East South Central                       0.000084
5             Pacific                       0.000083
6            Mountain                       0.000073
7  West South Central                       0.000072
8      South Atlantic                       0.000044

6. Census divisions by high quality coverage: Rank ordered list of US census divisions (in descending order) by high quality articles per capita.

In [58]:
#6
df6 = result.groupby('regional_division').agg({'high-quality-articles-per-population': 'mean'}).reset_index()
df6 = df6.sort_values(by='high-quality-articles-per-population', ascending=False)
df6.reset_index(drop=True)

    regional_division  high-quality-articles-per-population
0  West North Central                              0.000034
1         New England                              0.000033
2     Middle Atlantic                              0.000030
3            Mountain                              0.000024
4             Pacific                              0.000023
5      South Atlantic                              0.000016
6  East South Central                              0.000015
7  East North Central                              0.000015
8  West South Central                              0.000014